<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511802431984-k8e3ue9dfod7b5ff9h51276fa992n7js.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511802431984-k8e3ue9dfod7b5ff9h51276fa992n7js</string>
	<key>API_KEY</key>
	<string>AIzaSyC1zo_7FEbMp8B0ZlTqsp0QNYRkjXbAk9I</string>
	<key>GCM_SENDER_ID</key>
	<string>511802431984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.longkhoa.estateApp</string>
	<key>PROJECT_ID</key>
	<string>app-nhadat</string>
	<key>STORAGE_BUCKET</key>
	<string>app-nhadat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511802431984:ios:9d18d53f45dac4f0b76535</string>
</dict>
</plist>